.container-D{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 3em;
}

.d-block{
    width: 3em;
    margin-left: 0.8em;
}

.register-D{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    /* border: 0.3em solid rgb(45, 183, 230); */
    width: 50em;
}


