.FootDesign{
    height:50px;
    line-height:50px;
    background:rgb(23, 23, 23);
    color:white;
    text-align:center;
    position: defoult;
    justify-content: space-around;
    bottom:0;
    left:0;
    width:100%;
}