/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* .design {
  height: 80vh;
  width: 60vw;
  background-color:  rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.titleDesign{
  border-bottom: 0.2em;
  width: 15em;
  height: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.buttonDes{
  width: 5em;
  height: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(129, 128, 126);
  color: white;
  border-radius: 0.3em;
}

.buttonAct{
  background-color:  rgb(206, 149, 43);
  cursor: pointer;
}

.buttonAct:hover{
  background-color:  rgb(218, 168, 75);
  transition: 0.5s;
} */
